<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.fuer_xitong.mapper.InstitutionFileSystemMapper">

    <!-- 新建文件体系 -->
    <insert id="insertFileSystem"
            parameterType="org.example.fuer_xitong.pojo.dto.InstitutionFileSystemCreateDTO">

        INSERT INTO institution_file_system
        (
            system_code,
            system_name,
            description,
            keshi,
            group_path,
            created_by
        )
        VALUES
            (
                #{systemCode},
                #{systemName},
                #{description},
                #{keshi},
                #{groupPath},
                #{operatorId}
            )

    </insert>

    <!-- 文件体系列表 -->
    <select id="selectList"
            resultType="org.example.fuer_xitong.pojo.vo.InstitutionFileSystemVO">

        SELECT
            id,
            system_code       AS systemCode,
            system_name      AS systemName,
            is_fixed          As isFixed,
            description,
            keshi,
            group_path       AS groupPath,
            created_by       AS createdBy,
            created_time     AS createdTime
        FROM institution_file_system
        ORDER BY created_time DESC

    </select>

    <select id="selectInstitutionReadonlyList"
            resultType="org.example.fuer_xitong.pojo.vo.InstitutionFileSystemVO">

        SELECT
            fs.id,
            fs.system_code   AS systemCode,
            fs.system_name   AS systemName,
            fs.is_fixed      AS isFixed,
            fs.description,
            fs.keshi,
            fs.group_path    AS groupPath,
            fs.created_by    AS createdBy,
            fs.created_time  AS createdTime
        FROM institution_file_system fs
        LEFT JOIN user u ON u.ID = fs.created_by
        WHERE
            fs.is_fixed = 1
            OR fs.keshi IS NULL
            OR (
                fs.group_path IS NULL
                AND u.role > 1
            )
        ORDER BY fs.created_time DESC

    </select>


    <select id="selectByKeshi"
            parameterType="string"
            resultType="org.example.fuer_xitong.pojo.vo.InstitutionFileSystemVO">

        SELECT
            id,
            system_code       AS systemCode,
            system_name      AS systemName,
            is_fixed          As isFixed,
            description,
            keshi,
            group_path       AS groupPath,
            created_by       AS createdBy,
            created_time     AS createdTime
        FROM institution_file_system
        WHERE keshi = #{keshi}
        ORDER BY created_time DESC

    </select>

    <select id="selectByKeshiForCreator"
            resultType="org.example.fuer_xitong.pojo.vo.InstitutionFileSystemVO">

        SELECT
            id,
            system_code       AS systemCode,
            system_name       AS systemName,
            is_fixed          AS isFixed,
            description,
            keshi,
            group_path        AS groupPath,
            created_by        AS createdBy,
            created_time      AS createdTime
        FROM institution_file_system
        WHERE
            keshi IS NULL
            OR (
                keshi = #{keshi}
                AND (
                    is_fixed = 1
                    OR created_by = #{createdBy}
                )
            )
        ORDER BY created_time DESC

    </select>

    <!-- 删除文件体系 -->
    <delete id="deleteById">
        DELETE FROM institution_file_system
        WHERE id = #{systemId}
    </delete>




    <select id="selectByKeshiAndGroupPath"
            resultType="org.example.fuer_xitong.pojo.vo.InstitutionFileSystemVO">

        SELECT
            id,
            system_code   AS systemCode,
            system_name   AS systemName,
            is_fixed      AS isFixed,
            description,
            keshi,
            group_path    AS groupPath,
            created_by    AS createdBy,
            created_time AS createdTime
        FROM institution_file_system
        WHERE
            (
                keshi IS NULL
                    OR (
                    keshi = #{keshi}
                        AND (
                        group_path IS NULL
                            OR group_path = #{GroupPath}
                        )
                    )
                )
        ORDER BY created_time DESC

    </select>


    <select id="selectByKeshiAndGroupPathForCreator"
            resultType="org.example.fuer_xitong.pojo.vo.InstitutionFileSystemVO">

        SELECT
            id,
            system_code   AS systemCode,
            system_name   AS systemName,
            is_fixed      AS isFixed,
            description,
            keshi,
            group_path    AS groupPath,
            created_by    AS createdBy,
            created_time  AS createdTime
        FROM institution_file_system
        WHERE
            keshi IS NULL
            OR (
                keshi = #{keshi}
                AND (
                    group_path IS NULL
                    OR group_path = #{GroupPath}
                )
                AND (
                    is_fixed = 1
                    OR created_by = #{createdBy}
                )
            )
        ORDER BY created_time DESC

    </select>

    <select id="selectById"
            resultType="org.example.fuer_xitong.pojo.vo.InstitutionFileSystemVO">

        SELECT
            id,
            system_code   AS systemCode,
            system_name   AS systemName,
            is_fixed      AS isFixed,
            description,
            keshi,
            group_path    AS groupPath,
            created_by    AS createdBy,
            created_time  AS createdTime
        FROM institution_file_system
        WHERE id = #{systemId}

    </select>



</mapper>
