<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.fuer_xitong.mapper.ProfessionalGroupMapper">

    <insert id="insertPiInfo">
        INSERT INTO pi_info (
            ID,
            professional,
            pi_photo_path,
            senior_title_certificate_path,
            senior_title_appointment_path,
            signed_resume_path,
            qualification_certificate_path,
            practice_certificate_path,
            gcp_certificate_path,
            shanchang,
            clinical_participation,
            clinical_reason,
            clinical_root_path
        ) VALUES (
                     #{Id},
                     #{professional},
                     #{piPhotoPath},
                     #{seniorTitleCertificatePath},
                     #{seniorTitleAppointmentPath},
                     #{signedResumePath},
                     #{qualificationCertificatePath},
                     #{practiceCertificatePath},
                     #{gcpCertificatePath},
                     #{shanchang},
                     #{clinicalParticipation},
                     #{clinicalReason},
                     #{clinicalRootPath}
                 )
    </insert>




    <select id="selectPiinfoById" resultType="org.example.fuer_xitong.pojo.vo.PiInfoVO">
        SELECT
            ID,
            professional,
            pi_photo_path,
            senior_title_certificate_path,
            senior_title_appointment_path,
            signed_resume_path,
            qualification_certificate_path,
            practice_certificate_path,
            gcp_certificate_path,
            shanchang,
            clinical_participation,
            clinical_reason,
            apply_status,
            current_step,
            submit_time,
            pi_info_id
        FROM pi_info
        WHERE ID = #{id} AND pi_info_id = #{piInfoId}
            LIMIT 1
    </select>


    <update id="updatePiInfo"
            parameterType="org.example.fuer_xitong.pojo.vo.PiInfoVO">
        UPDATE pi_info
        SET
            current_step = #{currentStep},
            apply_status = #{applyStatus}
        WHERE
            ID = #{id}
          AND pi_info_id = #{piInfoId}
    </update>


    <insert id="insertApprovalLog"
            parameterType="org.example.fuer_xitong.pojo.vo.PiApprovalLogVO">
        INSERT INTO pi_approval_log (
            pi_info_id,
            pi_id,
            approver_id,
            role,
            current_step,
            apply_status,
            comment,
            approve_time
        ) VALUES (
                     #{piInfoId},
                     #{piId},
                     #{approverId},
                     #{role},
                     #{currentStep},
                     #{applyStatus},
                     #{comment},
                     #{approveTime}
                 )
    </insert>


</mapper>
